*.class
target/
bin/

.idea/
.gigaide/
*.iml
*.iws
*.ipr
.DS_Store

mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.gradle/
build/
settings.gradle.kts
gradle.properties
gradlew
gradlew.bat

*.log

.venv/
venv/

# Файлы конфигурации
application-local.properties
application-dev.properties
*.swp # Файлы подкачки Vim
*.swo # Файлы подкачки Vim

*.key
*.p12
*.pem
ssl/

# Прочие временные файлы и директории
tmp/
temp/
out/
.cache/

# Файлы отладки
hs_err_pid*

# Файлы профилирования
java_pid*